//////////////
//Structures//
//////////////
*{
    @extend %box-sizing;
}
body{
    min-height: 100vh;
}
.content{
    @extend %block;  
    @extend %w-100;
    min-height: 75vh;
}
.container{    
    margin: auto;
    @include for-size(phone){
        width: 98%
    }
    @include for-size(tablet){
        width: 90%
    }
    @include for-size(desktop){
        width: 76%
    }
    @include for-size(big-desktop){
        width: 62.5%
    }
}
.top-bar{
    @extend %block;
    @extend %bg-black;
    .container{
        @include flexbox;
        @include align-items(center);
        @include for-size(phone){           
            @include justify-content(center);
        }
        @include for-size(tablet){           
            @include justify-content(flex-end);
        }
    }
    .link,.separator{
        color:#fff;
        font-size: .9rem;
        margin-left: 8px;
    }
    .separator{
        padding: 0 10px
    }
    @include for-size(phone){
        padding: 15px 0; 
        text-align: center
    }
    @include for-size(tablet){
        text-align: right
    }
}
.header{
    @extend %bg-white;
    min-height: 160px;
    @include for-size(phone){
        padding: 20px 0;
    }
    @include for-size(tablet){
        @include flexbox;
        @include align-items(center);
    }
}
.main{
    min-height: 920px;
    padding: 20px 0;
    background: $gray-100
}
.main_categorias{
    background: $gray-200;
    padding-bottom: 25px
}
.footer{
    @extend %block;  
    @extend %w-100;
    min-height: 300px;
    background-color: $gray-900;
    .container{
        @include for-size(notebook-md){
            @include flexbox;
            @include justify-content(space-between)
        }
    }
    .menu-footer{

        padding: 25px;
        margin-right:15px;
        .title{
            @extend %block;
            @extend %txt-left;
            border-bottom: 3px solid $white;       
            margin-bottom: 20px;  
            padding-bottom: 5px;
            color:$white;
        }  
        ul{
            li{
                list-style: url('#{$path_icones}/icon-lista.png');
                margin-bottom:20px;
                a{    
                    font-size: $font-09;
                    color:$gray-600
                }
            }
        }
    }

}