@mixin dash_containers {
    @include shadow(0);
    border: 1px solid #d7d7d7;
    background-color: #fff;
}

%dash_container {
    @include dash_containers
}

.dashboard {
    @extend %flex-equal;
    margin: 25px 0;
    .menu-lateral {
        @extend %dash_container;
        width: 25%;
        .title {
            @extend %block;
            @extend %w-100;
            @extend %bold;
            @extend %txt-left;
            padding: 20px 30px;
            font-size: 0.9rem;
            color: #848484;
            text-indent: 60px
        }
        .home {
            background: url('https://img.icons8.com/ios/50/d7d7d7/home.png') no-repeat 25px center;
        }
        .vendas {
            background: url('https://img.icons8.com/ios/50/d7d7d7/invoice-1.png') no-repeat 25px center;
        }
        .compras {
            background: url('https://img.icons8.com/ios/50/d7d7d7/shopping-cart.png') no-repeat 25px center;
        }
        .configs {
            background: url('https://img.icons8.com/ios/50/d7d7d7/settings.png') no-repeat 25px center;
        }
        .user-menus {
            padding: 25px 0;
            @extend %w-100;
            @extend %flex-center;
            @include align-items(flex-start);
            ul {
                li {
                    a {
                        display: block;
                        color: #cccccc;
                        margin: 10px 0;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
    .main {
        @extend %dash_container;
        padding: 20px;
        width: 74%;
        .row {
            @extend %flex-equal;
            @extend %w-100;
        }
        .box,
        .box_40,
        .box_60,
        .box_50,
        .box_100 {
            @extend %dash_container;
            margin: 1%;
            padding: 10px
        }
        .box_100 {
            @extend %w-100;
        }
        .box_40 {
            width: 38%
        }
        .box_50 {
            width: 48%
        }
        .box_60 {
            width: 58%
        }
        .info {
            margin: 15px 0
        }
    }
}

.tag {
    @extend %block;
    @extend %w-100;
    height: 25px;
    font-size: .75rem;
    color: #ccc
}

.mark {
    width: 50px
}

.actions {
    width: 100px;
}

.money-data {
    width: calc(100% - 160px);
    label {
        color: $gray;
        &:nth-child(1) {
            font-size: .75rem
        }
        &:nth-child(2) {
            @extend %bold;
            font-size: 1.2rem
        }
    }
}

.for-action {
    .link {
        width: calc(100% - 100px);
        color: $gray;
        @extend %flex-center;
        @extend %transition;
        &:hover {
            background-color: $blue;
            color: #fff;
            font-size: 1.2rem
        }
    }
}

.button {
    @extend %pointer;
    @extend %transition;
    @extend %txt-center;
    @include border-radius(25px);
    min-width: 90px;
    padding: 8px 15px;
    border: none;
    font-size: 0.8rem;
    &:hover {
        @extend %lightShadow;
        transform: scale(1.05)
    }
}

.button-primary {
    background-color: $green;
    color: #fff
}

.button-info {
    background-color: $blue;
    color: #fff
}

.button-secondary {
    background-color: $orange;
    color: #fff
}

.button-delete {
    @extend %pointer;
    @extend %transition;
    @include border-radius(6px);
    background: url('https://img.icons8.com/ios/32/a3a3a3/delete-trash.png') no-repeat center;
    border: none;
    padding: 10px;
    width: 42px;
    height: 42px;
    &:hover {
        background: url('https://img.icons8.com/ios/32/d43838/delete-trash.png') no-repeat center;
    }
}

.title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #808080
}